<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&copy; Copyright COMP229-2023F. TingTingZeng - 301309144</h6>
  </nav>
</footer>
