<!-- Script Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>

<style>
    footer{
        position: sticky;
        bottom: 0;
        z-index: 100;
    }
</style>